{% block paragraph %}
  {% block content %}
    <div{{ attributes }}>
      <div class="space__container">
        <div class="{{ space }}"></div>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
